@model AgenciaMVC.Models.Login;

@{
    ViewData["Title"] = "Login";
    var Login = ViewData["Login"] as List<Login >;
}

<h1>Gerenciamento de Login</h1>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Logins Cadastrados</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>CodLogin</th>
                        <th>Email</th>
                        <th>Senha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var login in Login)
                        {
                            <tr>
                                <td>@login.CodLogin</td>
                                <td>@login.Email</td>
                                <td>@login.Senha </td>
                                <td>
                                <form asp-controller="Login" asp-action="Deletar">
                                    <button class="btn btn-danger" type="submit">x deletar</button>
                                    <input asp-for="CodLogin" style="visibility:hidden;" type="text" value="@login.CodLogin ">
                                </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            
           
            <hr />
            <h2>Cadastrar</h2>
            <form asp-controller="Login" asp-action="Index">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="" placeholder="exemplo@gmail.com">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Senha</label>
                        <input asp-for="Senha" type="password" class="form-control" id="" placeholder="tg012345">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Incluir</button>
            </form>
            <br />
            <hr />
            <br />
            <h2>Atualizar Dados</h2>
            <form asp-controller="Login" asp-action="Atualizar">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="">Código do login</label>
                        <select class="custom-select" asp-for="CodLogin">
                            <option selected>-- Selecione um código</option>
                            @{
                                foreach (var login in Login )
                                {
                                    <option>@login.CodLogin</option>
                                }
                            }
                        </select>
                    </div>                    
                 <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="" placeholder="exemplo@gmail.com">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Senha</label>
                        <input asp-for="Senha" type="password" class="form-control" id="" placeholder="tg012345">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</div>
